@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

body {
  margin: 0;
  font-family: 'Lato', sans-serif;
  background-color:#181D24 ;
  color:white ;
}


.hero {
  background: linear-gradient(rgba(2,2,2,.7),rgba(0,0,0,.3)),url(./images/hero_bg.png) top center no-repeat;
}
/* .hero {
  background: url(./images/hero_bg.jpg) top center no-repeat;
  background-size: contain;
} */

.footer {
  /* background: url(./images/footer.svg) top center no-repeat; */
  background-size: cover;
}

.cta {
  background: linear-gradient(rgba(2,2,2,.7),rgba(0,0,0,.4)),url(./images/hero-bg.png) fixed center center;
}


